<section id="bio">
    <div>
        <h1>Benjamin Badaszewski</h1>
        <h3>Full Stack Developer, Creative, Student</h3>
        <h4>I code for both front and back end, and am always excited to learn</h4>
        <img>
    </div>
    <div class="filled">
        Thank you for viewing my portfolio. My programming journey begins in 2017 at the University of Buffalo. Since then, I've found myself working on projects ranging from clustering algorithms in Assembly to deploying custom sites on cloud infrastructure. I'm confident, eager to learn, and constantly working to grow my skill set.
    </div>
</section>